/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
   --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --header-text-color: #000028;
  --paragraph-color:rgba(241, 178, 206, 1);
  --button-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --focus-color: #FF0070;
  --text-title-color: #FF0070;
  --decor-color: #FF0070;
}