/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --header-text-color: #353430;
  --paragraph-color: #353430;
  --button-color: #353430;
  --hover-color: rgba(43, 42, 39, 0.4);
  --focus-color: #353430;
  --text-title-color: #353430;
  --decor-color: #353430;

  .header__decor-element {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: ##fff1f7;
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --header-text-color: #353430;
    --paragraph-color: #353430;
    --button-color: #353430;
    --hover-color: rgba(43, 42, 39, 0.4);
    --focus-color: #353430;
    --text-title-color: #353430;
    --decor-color: #353430;
  }

  .header__decor-element {
    display: none;
  }
}
