/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

.page {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
  block-size: 100%;
  scrollbar-width: auto;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  margin-block-end: 40px;
  padding: var(--decor-padding);
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  padding-inline: 13px;
  color: var(--button-color);
  font-weight: var(--normal-fw);
  font-size: var(--font-size);
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--focus-color);
  outline: none;
}

.header__title {
  color: var(--header-title-color);
  font-weight: var(--bold-fw);
  font-size: var(--h1-size);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  justify-self: end;
  align-self: start;
  max-width: 355px;
  min-height: 71px;
  margin-block-start: 55px;
}

.title-decor {
  color: var(--header-text-color);
  font-weight: var(--bold-fw);
  font-size: var(--font-size);
  line-height: 1.3;
  background-color: var(--accent-color);
  white-space: pre-line;
}

.header__decor-element {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  font-weight: var(--normal-fw);
  font-size: var(--font-size);
  line-height: var(--main-line-height);
}

.header__decor-element::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 42px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decor-color);
  background-color: var(--decor-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--decor-padding);
  right: var(--decor-padding);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  pointer-events: none;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--decor-padding);
  left: var(--decor-padding);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  pointer-events: none;
}

.text-section {
  display: grid;
  gap: 20px;
  padding-inline: var(--decor-padding);
  padding-block-end: 59px;
}

.text-section__title {
  color: var(--text-title-color);
  font-weight: var(--bold-fw);
  font-size: var(--font-size);
}

.text-section__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-section__texts-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-section__texts-paragraph {
  color: var(--paragraph-color);
  font-weight: var(--normal-fw);
  font-size: var(--font-size);
}

.text-section__texts-paragraph-link {
  text-decoration: none;
  text-shadow: 2px 0px var(--accent-color);
  cursor: pointer;
}

.text-section__texts-paragraph-link:hover {
  border-bottom: solid 1px var(--paragraph-color);
}

.text-section__texts-paragraph-link:focus {
  outline: none;
}

.text-section__texts-paragraph-link:focus-visible {
  outline: 1px solid var(--paragraph-color);
}

.text-section__texts-titles {
  font-weight: var(--normal-fw);
}

.gallery-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 40px;
  padding-inline: var(--decor-padding);
}

.gallery-section__images {
  display: grid;
  gap: 10px;
}

.gallery-section__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--decor-padding);
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--header-title-color);
  font-weight: var(--bold-fw);
  font-size: var(--h1-size);
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.decorated-footer-zone::before {
  content: "";
  position: absolute;
  top: var(--decor-padding);
  right: var(--decor-padding);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

@media (width >= 768px) {
  .header {
    margin-block-end: 60px;
  }

  .header__title {
    margin-inline-start: var(--title-margin);
  }

  .header__decor-element {
    top: 20px;
    right: 48px;
  }

  .header__description {
    max-width: 368px;
    margin-block-start: 161px;
  }

  .text-section_type_primary {
    grid-template-columns: 236px 1fr;
  }

  .text-section {
    margin-block-end: 30px;
  }

  .text-section__title {
    max-width: 236px;
  }

  .gallery-section {
    gap: 20px;
    margin-block-end: 60px;
  }

  .gallery-section__images {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .sunset__image {
    grid-column: span 2;
  }

  .ice-cream__image {
    grid-row: span 2;
  }
  .tape__image {
    grid-row: span 2;
  }

  .street__image {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header {
    align-items: start;
  }

  .header__title {
    margin-inline-start: var(--title-margin);
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__description {
    max-width: 491px;
    margin-block-start: 114px;
  }

  .text-section_type_primary {
    grid-template-columns: 1fr 2fr;
  }

  .text-section__title {
    max-width: 315px;
  }

  .text-section_type_secondary .text-section__texts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .text-section {
    margin-block-end: 25px;
  }
}
